<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение...">
        <input type="text" name="tag" placeholder="Введите тэг">
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
        <button type="submit">Добавить</button>
    </form>
</div>


<div>Список сообщений</div>
<form method="post" action="filter">
        <input type="text" name="filter">
    <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
    <button type="submit">Найти</button>
</form>
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
    <strong>{{authorName}}</strong>
</div>
{{/messages}}
</body>

</html>